CLIENT_GATEWAY_PORT=3010

# Stripe and payments-ms configuration
PAYMENTS_MS_PORT=3003

# https://dashboard.stripe.com/test/apikeys
STRIPE_SECRET_KEY=

# URL of the frontend application to redirect after payment
STRIPE_SUCCESS_URL=http://localhost:3000/api/payments/success
STRIPE_CANCEL_URL=http://localhost:3000/api/payments/cancel

# Webhook signature secret for verifying Stripe webhook events
# Testing: If you are using Stripe CLI, you can get this value by running `stripe listen` and copying the value of the `Signing secret` from the output.
# STRIPE_WEBHOOK_SIGNATURE_SECRET=

# Production: Hookdeck used to forward Stripe webhook events in production https://dashboard.hookdeck.com/connections
# You can find this value in your Stripe dashboard under Developers > Webhooks when you set up a webhook endpoint for your production environment.
# Example: https://dashboard.stripe.com/acct_1Qhy6WRx1C5CFKRj/test/workbench/webhooks
STRIPE_WEBHOOK_SIGNATURE_SECRET=

# Database configuration for the orders microservice, allows to execute database migrations from root launcher directory
ORDERS_DB_USER=orders_user
ORDERS_DB_PASSWORD=change-me-orders-password
DATABASE_URL="postgresql://<DB_USER>:<DB_PASSWORD>@localhost:5432/ordersdb?schema=public"

# MongoDB configuration for the auth microservice
AUTH_DB_USER=auth_root
AUTH_DB_PASSWORD=change-me-auth-password
AUTH_DATABASE_URL="mongodb://<DB_USER>:<DB_PASSWORD>@auth-db:27017/authdb?authSource=admin&replicaSet=rs0"

# JWT secret for signing and verifying JWT tokens in the auth microservice
JWT_SECRET=

# Docker configuration for building and pushing images to Docker Hub
DOCKERHUB_USERNAME=YourDockerHubUsername
IMAGE_TAG=1.0.0