# Files and directories to ignore
node_modules/
.DS_Store

# AI config files
.atl/
.pi/
.codegraph/
.windsurf/

# Environment files
.env

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json