[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/NestJS-Microservicios-Curso/client-gateway.git
[submodule "products-microservice"]
	path = products-microservice
	url = https://github.com/NestJS-Microservicios-Curso/products-microservice.git
[submodule "orders-microservice"]
	path = orders-microservice
	url = https://github.com/NestJS-Microservicios-Curso/orders-microservice.git
